@{
    ViewData["Title"] = "Home Page";
}
@model MyModel

<form asp-action="Index" asp-controller="Home">
    <div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StartDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <date-picker for="StartDate"></date-picker>
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EndDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <date-picker for="EndDate"></date-picker>
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
    <div>
        @Model.StartDate
    </div>
</form>